

.navContainTab{
    background-color: rgb(172, 166, 145);
    height:30px;   
    margin-bottom:0px;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 18px;
    display: inline;
}
.search{
    Float: right;
    margin-right: 10px;
    margin-top: 2px;
}
