.navContainTab {
  background-color: rgb(172, 166, 145);
  height: 30px;
  margin-bottom: 0px;
  color: white;
}

ul li {
  list-style-type: georgian;
  margin: 0;
  padding: 0;
  margin-right: 18px;
  display: inline;
  /* color: white; */
}
.search {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}
#home-tab {
  margin-left: 220px;
}
