.home {
  /* background-color: rgb(69, 108, 190); */
  width: auto;
  text-align: center;

}

.btns {
  background-color: rgb(194, 238, 194);
  color: orangered;
  margin: 10px;
  width: 95px;
  cursor: pointer;

}

.ribbon {
  background-color: rgb(69, 108, 190);
}

.rbn {
  margin-left: 250px;
}

.btn dropdown-toggle {
  color: black;
  background-color: rgb(194, 238, 194);
  margin: 10px;
  width: 95px;
  cursor: pointer;
}

#media-btn {
  background-color: rgb(244, 244, 250);
  color: rgb(17, 56, 129);
  padding: 5px; 
  font-size: 20px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 10px;
  margin-top: 2px;
  cursor: pointer;
  float: right;
}
.registration{
  color:wheat;
  float: left;
  margin-left: 500px;
  
}
.webAddress{
  float: left;
  margin-left: 50px;
  color: wheat;
}

.clearfix {
  clear: both;
}