.head {
  color: rgb(85, 32, 36);
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align-last: right;
}
.nav {
  background-color: rgb(172, 166, 145);
}
.nav img {
  width: 100px;
}
