#PictureCarousel {
  height: 310px;
  width: 500px;
}

#card {
  background-color: cornsilk;
  height: 320px;
  margin-left: 15px;
  width: 250px;
}

.ads {
  color: rgb(88, 88, 3);
  text-decoration: underline;
  font-weight: bold;

}

.carousel {
  width: 940px;
  height: 320px;
  display: block;
  position: static;
  background: no-repeat center center fixed;
}