#PictureCarousel {
  height: 455px;
  width: 900px;
}

#card {
  background-color: cornsilk;
  height: 435px;
  margin-left: 15px;
  margin-right: 1px;
  color: black;
  width: 300px;
}

.ads {
  color: rgb(88, 88, 3);
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.rimach {
  background-color: rgb(226, 222, 233);
  color: rgb(71, 22, 29);
  border: 1px solid olivedrab;
  margin-left: 5px;
  margin-right: 5px;
}
.sls {
  text-align-last: left;
  margin-right: 20px;
  margin-left: 10px;
}
.aps {
  background-color: rgb(226, 222, 233);
  color: rgb(71, 22, 29);
  border: 1px solid olivedrab;
  margin-left: 5px;
  margin-top: 20px;
  margin-right: 5px;
}
.carousel {
  width: 640px;
  display: block;
  position: static;
  background: no-repeat center center fixed;
}
#rt-card {
  background-color: cornsilk;
  height: 435px;
  margin-right: 5px;
  color: black;
  margin-left: 17px;
  width: 300px;
}
.store {
  background-color: darkolivegreen;
  color: yellow;
  text-align-last: center;
}
.form-wrapper {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#bdr {
  background-color: antiquewhite;
  padding: 15px;
  /* margin-left: 50px;
  margin-right: 50px; */
}
li {
  list-style: none;
  color: darkgreen;
}
#cnts {
  font-style: italic;
  font-weight: bold;
  color: olivedrab;
  text-decoration: underline;
}
