#PictureCarousel {
  height: 455px;
  width: 900px;
}

#card {
  background-color: cornsilk;
  height: 500px;
  margin-left: 15px;
  width: 350px;
  color: black;
}

.ads {
  color: rgb(88, 88, 3);
  text-decoration: underline;
  font-weight: bold;
}

.carousel {
  width: 750px;
  display: block;
  position: static;
  background: no-repeat center center fixed;
}
